<main>
  <section class="hero">
    <div class="hero-inner">
      <h1>Bienvenido!</h1>
      <p>Aquí puedes acceder a tus herramientas de trabajo</p>
    </div>
  </section>
  <section>
    <div class="vision-mission-container">
      <div class="vision-section">
        <h2>Visión</h2>
        <p>Inserta aquí la visión de tu empresa o proyecto.</p>
      </div>

      <div class="mission-section">
        <h2>Misión</h2>
        <p>Inserta aquí la misión de tu empresa o proyecto.</p>
      </div>
    </div>
  </section>
  <section class="hero">
    <img src="../assets/portada1.jpg" alt="Pagina de Inicio" />
  </section>
</main>


