<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" alt="Logo de la empresa" width="60" height="60"
          class="d-inline-block align-text-center">
        Software de Finanzas
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Inicio</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notas Contables
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" id="navbarDropdownMenuLink" [routerLink]="['/page2']">Registrar Nota</a>
              <ul class="dropdown-submenu">
                <li><a class="dropdown-item" [routerLink]="['/formularioNotaContablePorRegistro']">Nota Contable</a>
                </li>
                <li><a class="dropdown-item" [routerLink]="['/notaContablePorConcepto']">Por Concepto</a></li>
                <li><a class="dropdown-item" [routerLink]="['/notaContablePorAdjunto']">Por Adjunto</a></li>
              </ul>
              <a class="dropdown-item" [routerLink]="['/page3']">Revision de Notas</a>
              <a class="dropdown-item" [routerLink]="['/page4']">Informes</a>
              <a class="dropdown-item" [routerLink]="['/page5']">Configuracion</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recaudos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/page1']">Registrar Factura</a>
              <a class="dropdown-item" [routerLink]="['/page2']">Tipo de factura</a>
              <a class="dropdown-item" [routerLink]="['/page2']">Configuracion</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Flujo de caja
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/page1']">Garantias</a>
              <div class="dropdown-menu submenu" aria-labelledby="navbarDropdownMenuLink" #page2Submenu>
                <a class="dropdown-item" [routerLink]="['/page2/option1']">Comision garantia</a>
                <a class="dropdown-item" [routerLink]="['/page2/option2']">Garantia</a>
                <a class="dropdown-item" [routerLink]="['/page2/option2']">Informe</a>
              </div>
              <a class="dropdown-item" [routerLink]="['/page2']">Configuracion</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Configuracion General
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/Entidades']">Entidades</a>
              <a class="dropdown-item" [routerLink]="['/page2']">Procesos</a>
              <a class="dropdown-item" [routerLink]="['/page2']">Terceros(AN8)</a>
              <a class="dropdown-item" [routerLink]="['/Usuarios']">Usuarios</a>

            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/footer']">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>